<!DOCTYPE html>
<html lang="en" ng-app="quizApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Quiz App</title>
  <link rel="stylesheet" href="task62.css">
</head>
<body>
  <div ng-controller="QuizController as quizCtrl">
    <h1>Interactive Quiz</h1>
    <div class="question-container">
      <div class="question" ng-repeat="question in quizCtrl.questions">
        <h2>{{ question.text }}</h2>
        <ul>
          <li ng-repeat="option in question.options">
            <label>
              <input type="radio" ng-model="selectedOption" ng-value="option" ng-change="quizCtrl.checkAnswer(question, selectedOption)">
              {{ option }}
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="score">
      <h2>Your Score: {{ quizCtrl.score }}</h2>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="task63.js"></script>
</body>
</html>
